<!-- Signup form -->
<!-- Password Reset form -->

{% load static %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static 'css/formElements.css' %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block stylesheet1 %}{% static 'css/loginStyles.css' %}{% endblock %}"/>
<link rel="stylesheet" type="text/css" href="{% block stylesheet2 %}{% static 'css/font-awesome.css' %}{% endblock %}"/>
<link rel="stylesheet" type="text/css" href="{% block stylesheet3 %}{% static 'css/font-awesome.min.css' %}{% endblock %}"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script type="text/javascript">

     var error_response2 = function(data){
        eval("var response = ("+data.responseText+")");
        $('.api-response2').html(response.new_password1);
     }
     var error_response3 = function(data){
        eval("var response = ("+data.responseText+")");
        $('.api-response3').html(response.new_password2);
        $('.api-response3').html(response.__all__);
     }
     var susccess_response = function(data){
      $('.api-response').html("Password has been reset successfully"); ;
     }

     $().ready(function(){
        $('form.ajax-post button[type=submit]').click(function(){
          var form = $('form.ajax-post');
          $.post(form.attr('action'), form.serialize())
          .fail(function(data){error_response2(data);})
          .fail(function(data){error_response3(data);})
          .done(function(data){susccess_response(data);});
          return false;
        });
     });
</script>

{% block script %}{% endblock %}

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Ideation</strong> Password Reset Confirmation Form</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <p>Enter the details to reset password:</p>
                        </div>
                        <div class="form-top-right">
                            <i class="fa fa-lock"></i>
                        </div>
                    </div>
                    <div class="form-bottom">
                       <!-- Password Reset Confirmation form -->
                        <form class="form-horizontal ajax-post" role="form" action="{% url 'rest_password_reset_confirm' %}">
                            {% csrf_token %}
                            <div class="form-group" hidden>
                                <div class="col-sm-12">
                                    <input name="uid" type="text" class="form-control" id="uid" placeholder="Uid">
                                </div>
                            </div>

                            <div class="form-group" hidden>
                                <div class="col-sm-12">
                                    <input name="token" type="text" class="form-control" id="token" placeholder="Token">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input name="new_password1" type="password" class="form-control" id="new_password1" placeholder="Password">
                                </div>
                            </div>

                            <div class="form-group api-response2"></div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <input name="new_password2" type="password" class="form-control" id="new_password2" placeholder="Repeat password">
                                </div>
                            </div>

                            <div class="form-group api-response3"></div>

                            <div class="form-group">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-default">Set new password</button>
                                </div>
                            </div>

                            <div class="form-group api-response"></div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


